doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/forms.css')
  body
    header
      nav
        // Si personne n'est connecté
        if !user
          a(href='/') Home
          |  | 
          a(href='/login') Login
          |  | 
          a(href='/register') Register
       
        else
          a(href='/') Home
          |  | 
          a(href='/dashboard') Dashboard
          |  | 

          // Liens spécifiques selon le rôle
          if user.role === 'instructor'
            a(href='/instructor/quizzes') My quizzes
          else if user.role === 'student'
            a(href='/student/quizzes') Available quizzes
            |  | 
            a(href='/student/results') My results

          |  | 
          a(href='/logout') Logout

    block content
